@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    display: flex;
    justify-content: center;
}

.body-content {
    width: max(600px, 75vw);
    height: max(500px, 50vh);
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    gap: 15px;
}

.body-content>div {
    border-radius: 10px;
    padding-top: 20px;
}

.checkbox {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid black;
}

.checkbox:hover {
    cursor: pointer;
}

.checked {
    background-color: grey;
}

.projects-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#addProject {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#addProject button {
    width: 30px;
    height: 30px;
}

button:hover {
    cursor: pointer;
}

.projectName {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color 600ms;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activeProject {
    animation: fadeIn .5s;
    background-color: black;
    color: white;
}

.projectName:hover {
    cursor: pointer;
}

.details-container {
    border: 1px solid black;
    padding: 20px;
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.modalForm {
    display: flex;
    flex-direction: column;
}

.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskRow {
    width: 90%;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskRow:hover {
    cursor: pointer;
}

#taskInput {
    width: 90%;
    height: 20px;
    border-radius: 5px;
    padding-left: 10px;
}

.strike {
    text-decoration: line-through;
    color: grey;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.taskFade {
    animation: .5s fadeIn;
}

.firstDiv {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

dialog {
    border-radius: 15px;
}

.trashCan {
    width: 15px;
    height: auto;
}

.trashCan:hover {
    width: 18px;
}

.trashToggle {
    filter: invert(100%);
}

dialog input {
    border-radius: 5px;
    margin-bottom: 15px;
}