@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    display: flex;
    justify-content: center;
}

.body-content {
    width: max(600px, 50vw);
    height: max(750px, 60vh);
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    gap: 15px;
}

.body-content>div {
    border-radius: 10px;
    padding-top: 20px;
}

.checkbox {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid black;
}

.checkbox:hover {
    cursor: pointer;
}

.checked {
    background-color: black;
}

.projects-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#addProject {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#addProject button {
    width: 30px;
    height: 30px;
}

button:hover {
    cursor: pointer;
}

.projectName {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    padding-left: 15px;
    transition: background-color 600ms;
}

.activeProject {
    animation: fadeIn .5s;
    background-color: black;
    color: white;
}

.projectName:hover {
    cursor: pointer;
}

.details-container {
    border: 1px solid black;
    padding: 20px;
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskRow {
    width: 90%;
    height: 20px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.taskRow:hover {
    cursor: pointer;
}

#taskInput {
    width: 90%;
    height: 20px;
    border-radius: 5px;
    padding-left: 10px;
}

.strike {
    text-decoration: line-through;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.taskFade {
    animation: .5s fadeIn;
}